.picture {
  display: inline-block;
  border: 2px solid gray;
  padding: 20px;
}

path {
  stroke: white;
  fill: gray;
}

path:hover {
  fill: pink;
  transition: fill 1s;
}

.six {
  fill: #203032;
}

.five {
  fill: #0c3f44;
}

.four {
  fill: #136369;
}

.three {
  fill: #56b9c0;
}

.two {
  fill: #9fd8dd;
}

.one {
  fill: #b3eaec;
}

.map-tooltip {
  width:120px;
  bottom: 100%;
  left: 50%;
  margin-left: -60px;
}
